In [2]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
from bs4 import BeautifulSoup  # import BeautifulSoup libraries



#import random # library for random number generation


# libraries for displaying images
#from IPython.display import Image 
#from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
#from pandas.io.json import json_normalize
#import json # library to handle JSON files

# !conda install -c conda-forge folium=0.5.0 --yes
#import folium # plotting library

# Matplotlib and associated plotting modules
#import matplotlib.cm as cm
#import matplotlib.colors as colors

# import k-means from clustering stage
#from sklearn.cluster import KMeans

#### Scrape and Dataframe

In [65]:
# Scrape of Canada postal codes
source = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M").text
soup = BeautifulSoup(source, 'xml')
table = soup.find('table')

# dataframe creation with PostalCode, Borough, and Neighborhood
df = pd.DataFrame(columns = ['Postalcode','Borough','Neighborhood'])

    
# Filling the dataframe with all Postalcodes, Borough, and Neighborhood 
for i_row in table.find_all('tr'):
    row_data=[]
    for i_col in i_row.find_all('td'):
        row_data.append(i_col.text.strip())

    if len(row_data)==3:
        df.loc[len(df)] = row_data

df.head()

  Postalcode           Borough                Neighborhood
0        M1A      Not assigned
1        M2A      Not assigned
2        M3A        North York                   Parkwoods
3        M4A        North York            Victoria Village
4        M5A  Downtown Toronto  Regent Park / Harbourfront

In [66]:
# Ignoring cells with a borough that is Not assigned
df=df[df['Borough']!='Not assigned']
df["Neighborhood"] = df["Neighborhood"].str.replace(" /",", ")
df.head()

  Postalcode           Borough                                  Neighborhood
2        M3A        North York                                     Parkwoods
3        M4A        North York                              Victoria Village
4        M5A  Downtown Toronto                    Regent Park,  Harbourfront
5        M6A        North York             Lawrence Manor,  Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park,  Ontario Provincial Government

In [74]:
# Combining all neighborhood into one row with the same postalcode, separated with a comma
df2=df.groupby('Postalcode')['Neighborhood'].apply(lambda x: "%s" % ', '.join(x))
df2=df2.reset_index(drop=False)
df2.rename(columns={'Neighborhood':'Neighborhood2'},inplace=True)

df3 = pd.merge(df, df2, on='Postalcode')
df3.drop(['Neighborhood'],axis=1,inplace=True)
df3.drop_duplicates(inplace=True)
df3.rename(columns={'Neighborhood2':'Neighborhood'},inplace=True)

df3.head()

  Postalcode           Borough                                  Neighborhood
0        M3A        North York                                     Parkwoods
1        M4A        North York                              Victoria Village
2        M5A  Downtown Toronto                    Regent Park,  Harbourfront
3        M6A        North York             Lawrence Manor,  Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park,  Ontario Provincial Government

In [86]:
# Dataframe dimensions
df3.shape

(103, 3)

In [87]:
def get_geocode(postal_code):
    # initialize your variable to None
    lat_lng_coords = None
    while(lat_lng_coords is None):
        g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
        lat_lng_coords = g.latlng
    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]
    return latitude,longitude

In [88]:
# Getting the coordinates for all neighborhoods
coords_df=pd.read_csv('http://cocl.us/Geospatial_data')
coords_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [89]:
# Dataframe of the postal code of each neighborhood along with the borough name and neighborhood name
coords_df.rename(columns={'Postal Code':'Postalcode'},inplace=True)
coords_df3=pd.merge(coords_df, df3, on='Postalcode')
coords_df3=coords_df3[['Postalcode','Borough','Neighborhood','Latitude','Longitude']]
coords_df3.head()

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476